<div class="container" style="align-items: center; vertical-align: middle; padding-top: 1rem;">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="{% url 'home' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-1"><b>JM Arquitetura</b></span>
        </a>

  
    </header>
</div>


<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
        <div class="container-fluid">
         
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'home' %}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'projetos' %}">Projetos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'interiores' %}">Interiores</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">JM</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown04">
                  <li><a class="dropdown-item" href="{% url 'localizacao' %}">Nossa Localização</a></li>
                  <li><a class="dropdown-item" href="#">Sobre Nós</a></li>
                  <li><a class="dropdown-item" href="{% url 'add' %}">Contato</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</div>


